<div class="event_container">
<% @events.each do |event| %>
<div class="event_card">
  <% if event.date %>
    <p class="date_event"> <%= event.date %> <p>
  <% end %>
  <h2> <%= event.location %> <h2>
  <p class="date_event_created"> Posted <%= time_ago_in_words(event.created_at) %> ago</p>
  <%= link_to 'view', event_path(event), class:"date_event"%>
</div>
<% end %>
</div>
