header {
  background: teal;
  color: white;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;

  h2 {
    padding-left: 10px;
  }

  ul {
    width: 120px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      list-style-type: none;

       a {
         color: white;
         text-decoration: none;
       }
    }
  }
}

form {
  width: 400px;
  margin: auto;

  input[type=text],
  input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  input[type=submit] {
    text-align: left !important;
  }
}